@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

body {
  background: #000;
  box-sizing: border-box;
  overflow-x: hidden;
}

.line {
  display: block;
  overflow: hidden;
}


@layer base {
  @font-face {
    font-family: "ppneune-bold";
    src: url("../fonts/pp/ppneuemontreal-bold.woff") format("woff");
  }
  @font-face {
    font-family: "ppneune-book";
    src: url("../fonts/pp/ppneuemontreal-book.woff") format("woff");
  }
  @font-face {
    font-family: "ppneune-italic";
    src: url("../fonts/pp/ppneuemontreal-italic.woff") format("woff");
  }
  @font-face {
    font-family: "ppneune-medium";
    src: url("../fonts/pp/ppneuemontreal-medium.woff") format("woff");
  }
  @font-face {
    font-family: "ppneune-semibolditalic";
    src: url("../fonts/pp/ppneuemontreal-semibolditalic.woff") format("woff");
  }
  @font-face {
    font-family: "ppneune-thin";
    src: url("../fonts/pp/ppneuemontreal-thin.woff") format("woff");
  }

  /* Figtree */
  @font-face {
    font-family: "figtree-black";
    src: url("../fonts/Figtree/Figtree-Black.ttf") format("truetype");
  }
  @font-face {
    font-family: "figtree-italic";
    src: url("../fonts/Figtree/Figtree-Italic.ttf") format("truetype");
  }
  @font-face {
    font-family: "figtree-bold";
    src: url("../fonts/Figtree/Figtree-Bold.ttf") format("truetype");
  }
  @font-face {
    font-family: "figtree-bold-italic";
    src: url("../fonts/Figtree/Figtree-BoldItalic.ttf") format("truetype");
  }
  @font-face {
    font-family: "figtree-extrabold";
    src: url("../fonts/Figtree/Figtree-ExtraBold.ttf") format("truetype");
  }
  @font-face {
    font-family: "figtree-extrabold-italic";
    src: url("../fonts/Figtree/Figtree-ExtraBoldItalic.ttf") format("truetype");
  }
  @font-face {
    font-family: "figtree-italic";
    src: url("../fonts/Figtree/Figtree-Italic.ttf") format("truetype");
  }
  @font-face {
    font-family: "figtree-light";
    src: url("../fonts/Figtree/Figtree-Light.ttf") format("truetype");
  }
  @font-face {
    font-family: "figtree-light-italic";
    src: url("../fonts/Figtree/Figtree-LightItalic.ttf") format("truetype");
  }
  @font-face {
    font-family: "figtree-medium";
    src: url("../fonts/Figtree/Figtree-Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: "figtree-medium-italic";
    src: url("../fonts/Figtree/Figtree-MediumItalic.ttf") format("truetype");
  }
  @font-face {
    font-family: "figtree-regular";
    src: url("../fonts/Figtree/Figtree-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "figtree-semibold";
    src: url("../fonts/Figtree/Figtree-SemiBold.ttf") format("truetype");
  }
  @font-face {
    font-family: "figtree-semibold-italic";
    src: url("../fonts/Figtree/Figtree-SemiBoldItalic.ttf") format("truetype");
  }

  /* Playfair-Display */
  @font-face {
    font-family: "playfair-black";
    src: url("../fonts/Playfair_Display/PlayfairDisplay-Black.ttf")
      format("truetype");
  }
  @font-face {
    font-family: "playfair-black-italic";
    src: url("../fonts/Playfair_Display/PlayfairDisplay-BlackItalic.ttf")
      format("truetype");
  }
  @font-face {
    font-family: "playfair-bold";
    src: url("../fonts/Playfair_Display/PlayfairDisplay-Bold.ttf")
      format("truetype");
  }
  @font-face {
    font-family: "playfair-bold-italic";
    src: url("../fonts/Playfair_Display/PlayfairDisplay-BoldItalic.ttf")
      format("truetype");
  }
  @font-face {
    font-family: "playfair-extrabold";
    src: url("../fonts/Playfair_Display/PlayfairDisplay-ExtraBold.ttf")
      format("truetype");
  }
  @font-face {
    font-family: "playfair-extrabold-italic";
    src: url("../fonts/Playfair_Display/PlayfairDisplay-ExtraBoldItalic.ttf")
      format("truetype");
  }
  @font-face {
    font-family: "playfair-italic";
    src: url("../fonts/Playfair_Display/PlayfairDisplay-Italic.ttf")
      format("truetype");
  }
  @font-face {
    font-family: "playfair-medium";
    src: url("../fonts/Playfair_Display/PlayfairDisplay-Medium.ttf")
      format("truetype");
  }
  @font-face {
    font-family: "playfair-medium-italic";
    src: url("../fonts/Playfair_Display/PlayfairDisplay-MediumItalic.ttf")
      format("truetype");
  }
  @font-face {
    font-family: "playfair-regular";
    src: url("../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf")
      format("truetype");
  }
  @font-face {
    font-family: "playfair-semibold";
    src: url("../fonts/Playfair_Display/PlayfairDisplay-SemiBold.ttf")
      format("truetype");
  }
  @font-face {
    font-family: "playfair-semibold-italic";
    src: url("../fonts/Playfair_Display/PlayfairDisplay-SemiBoldItalic.ttf")
      format("truetype");
  }

  /* Montserrat */

  @font-face {
    font-family: "montserrat-black";
    src: url("../fonts/montserrat/Montserrat-Black.ttf") format("truetype");
  }

  @font-face {
    font-family: "montserrat-black-italic";
    src: url("../fonts/montserrat/Montserrat-BlackItalic.ttf")
      format("truetype");
  }

  @font-face {
    font-family: "montserrat-bold";
    src: url("../fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
  }

  @font-face {
    font-family: "montserrat-bold-italic";
    src: url("../fonts/montserrat/Montserrat-BoldItalic.ttf") format("truetype");
  }

  @font-face {
    font-family: "montserrat-extrabold";
    src: url("../fonts/montserrat/Montserrat-ExtraBold.ttf") format("truetype");
  }

  @font-face {
    font-family: "montserrat-extrabold-italic";
    src: url("../fonts/montserrat/Montserrat-ExtraBoldItalic.ttf")
      format("truetype");
  }

  @font-face {
    font-family: "montserrat-extralight";
    src: url("../fonts/montserrat/Montserrat-ExtraLight.ttf") format("truetype");
  }

  @font-face {
    font-family: "montserrat-extralight-italic";
    src: url("../fonts/montserrat/Montserrat-ExtraLightItalic.ttf")
      format("truetype");
  }

  @font-face {
    font-family: "montserrat-italic";
    src: url("../fonts/montserrat/Montserrat-Italic.ttf") format("truetype");
  }

  @font-face {
    font-family: "montserrat-light";
    src: url("../fonts/montserrat/Montserrat-Light.ttf") format("truetype");
  }

  @font-face {
    font-family: "montserrat-light-italic";
    src: url("../fonts/montserrat/Montserrat-LightItalic.ttf")
      format("truetype");
  }

  @font-face {
    font-family: "montserrat-medium";
    src: url("../fonts/montserrat/Montserrat-Medium.ttf") format("truetype");
  }

  @font-face {
    font-family: "montserrat-medium-italic";
    src: url("../fonts/montserrat/Montserrat-MediumItalic.ttf")
      format("truetype");
  }

  @font-face {
    font-family: "montserrat-regular";
    src: url("../fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "montserrat-semibold";
    src: url("../fonts/montserrat/Montserrat-SemiBold.ttf") format("truetype");
  }

  @font-face {
    font-family: "montserrat-semibold-italic";
    src: url("../fonts/montserrat/Montserrat-SemiBoldItalic.ttf")
      format("truetype");
  }

  @font-face {
    font-family: "montserrat-thin";
    src: url("../fonts/montserrat/Montserrat-Thin.ttf") format("truetype");
  }

  @font-face {
    font-family: "montserrat-thin-italic";
    src: url("../fonts/montserrat/Montserrat-ThinItalic.ttf") format("truetype");
  }
}

@theme {
  --font-ppneune-bold: "ppneune-bold", "sans-serif";
  --font-ppneune-book: "ppneune-book", "sans-serif";
  --font-ppneune-italic: "ppneune-italic", "sans-serif";
  --font-ppneune-medium: "ppneune-medium", "sans-serif";
  --font-ppneune-semibolditalic: "ppneune-semibolditalic", "sans-serif";
  --font-ppneune-thin: "ppneune-thin", "sans-serif";

  --font-playfair-black: "playfair-black", "sans-serif";
  --font-playfair-black-italic: "playfair-black-italic", "sans-serif";
  --font-playfair-bold: "playfair-bold", "sans-serif";
  --font-playfair-bold-italic: "playfair-bold-italic", "sans-serif";
  --font-playfair-extrabold: "playfair-extrabold", "sans-serif";
  --font-playfair-extrabold-italic: "playfair-extrabold-italic", "sans-serif";
  --font-playfair-italic: "playfair-italic", "sans-serif";
  --font-playfair-medium: "playfair-medium", "sans-serif";
  --font-playfair-regular: "playfair-regular", "sans-serif";
  --font-playfair-semibold: "playfair-semibold", "sans-serif";
  --font-playfair-semibold-italic: "playfair-semibold-italic", "sans-serif";

  --font-figtree-black: "figtree-black", "sans-serif";
  --font-figtree-italic: "figtree-italic", "sans-serif";
  --font-figtree-bold: "figtree-bold", "sans-serif";
  --font-figtree-bold-italic: "figtree-bold-italic", "sans-serif";
  --font-figtree-extrabold: "figtree-extrabold", "sans-serif";
  --font-figtree-extrabold-italic: "figtree-extrabold-italic", "sans-serif";
  --font-figtree-italic: "figtree-italic", "sans-serif";
  --font-figtree-light: "figtree-light", "sans-serif";
  --font-figtree-light-italic: "figtree-light-italic", "sans-serif";
  --font-figtree-medium: "figtree-medium", "sans-serif";
  --font-figtree-medium-italic: "figtree-medium-italic", "sans-serif";
  --font-figtree-regular: "figtree-regular", "sans-serif";
  --font-figtree-semibold: "figtree-semibold", "sans-serif";
  --font-figtree-semibold-italic: "figtree-semibold-italic", "sans-serif";

  --font-montserrat-black: "montserrat-black", "sans-serif";
  --font-montserrat-black-italic: "montserrat-black-italic", "sans-serif";
  --font-montserrat-bold: "montserrat-bold", "sans-serif";
  --font-montserrat-bold-italic: "montserrat-bold-italic", "sans-serif";
  --font-montserrat-extrabold: "montserrat-extrabold", "sans-serif";
  --font-montserrat-extrabold-italic:
    "montserrat-extrabold-italic", "sans-serif";
  --font-montserrat-extralight: "montserrat-extralight", "sans-serif";
  --font-montserrat-extralight-italic:
    "montserrat-extralight-italic", "sans-serif";
  --font-montserrat-italic: "montserrat-italic", "sans-serif";
  --font-montserrat-light: "montserrat-light", "sans-serif";
  --font-montserrat-light-italic: "montserrat-light-italic", "sans-serif";
  --font-montserrat-medium: "montserrat-medium", "sans-serif";
  --font-montserrat-medium-italic: "montserrat-medium-italic", "sans-serif";
  --font-montserrat-regular: "montserrat-regular", "sans-serif";
  --font-montserrat-semibold: "montserrat-semibold", "sans-serif";
  --font-montserrat-semibold-italic: "montserrat-semibold-italic", "sans-serif";
  --font-montserrat-thin: "montserrat-thin", "sans-serif";
  --font-montserrat-thin-italic: "montserrat-thin-italic", "sans-serif";

  --color-neutral-100: #f4f5f0;
  --color-neutral-900: #221f1f;

  --color-lime-theme: #bef945;
  --color-blue-theme: #a9c9f8;
  --color-purple-theme: #b48edd;
  --color-tan-theme: #ddb699;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
